display_temperature.txt
[
    {
        "id": "1d2c3e40.a9e742",
        "type": "tab",
        "label": "Display Temperature",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b6e1d026.244f68",
        "type": "inject",
        "z": "1d2c3e40.a9e742",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "900",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "94ccb5fd.8ab28"
            ]
        ]
    },
    {
        "id": "94ccb5fd.8ab28",
        "type": "function",
        "z": "1d2c3e40.a9e742",
        "name": "Retrieve today weather",
        "func": "let now = new Date(msg.payload)\nlet month = now.getMonth() + 1\n// Get the time in second since epoch\nlet start = new Date(now.getFullYear()+'.'+month+'.'+now.getDate()).getTime() / 1000\n\nmsg.topic = 'select * from sj_data where time >= :since order by time asc'\nmsg.payload = {since: start}\n\nlet msgMongo = {}\nmsgMongo.payload = {time: {$gte:start}}\n\nreturn [msg, msgMongo];",
        "outputs": 2,
        "noerr": 0,
        "x": 310,
        "y": 60,
        "wires": [
            [
                "b467218f.a34768"
            ],
            [
                "a3737ecd.8274a8"
            ]
        ]
    },
    {
        "id": "b467218f.a34768",
        "type": "Stackhero-MySQL",
        "z": "1d2c3e40.a9e742",
        "server": "3957a955.8b76ce",
        "name": "",
        "x": 590,
        "y": 60,
        "wires": [
            [
                "f6d8e14.81f25a"
            ]
        ]
    },
    {
        "id": "f6d8e14.81f25a",
        "type": "function",
        "z": "1d2c3e40.a9e742",
        "name": "MySQL Temperature",
        "func": "let datas = msg.payload\n\nlet data = []\nlet dataPoint = []\ndatas.forEach(point => {\n    dataPoint.push({'x':point.time*1000, 'y': point.temperature})\n})\ndata.push(dataPoint)\nlet tObj = {\n    series: ['Temperature'],\n    data: data,\n    labels: ['']\n}\n\nmsg.payload = [tObj]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 120,
        "wires": [
            [
                "28afe173.cd4326"
            ]
        ]
    },
    {
        "id": "28afe173.cd4326",
        "type": "ui_chart",
        "z": "1d2c3e40.a9e742",
        "name": "",
        "group": "ec7c318d.ee39d8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Today Temperature MySQL",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 640,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a3737ecd.8274a8",
        "type": "mongodb3 in",
        "z": "1d2c3e40.a9e742",
        "service": "_ext_",
        "configNode": "5faf1d4c.fc41ec",
        "name": "Temperature SJ",
        "collection": "sj_weather",
        "operation": "find.toArray",
        "x": 320,
        "y": 280,
        "wires": [
            [
                "c0c886b3.0a6b98"
            ]
        ]
    },
    {
        "id": "c0c886b3.0a6b98",
        "type": "function",
        "z": "1d2c3e40.a9e742",
        "name": "Mongo Temperature",
        "func": "let datas = msg.payload\n\nlet data = []\nlet dataPoint = []\nlet point\nfor (const key in datas) {\n    point = datas[key]\n    dataPoint.push({'x':point.time*1000, 'y': point.temperature})\n}\n\ndata.push(dataPoint)\nlet tObj = {\n    series: ['Temperature'],\n    data: data,\n    labels: ['']\n}\n\nmsg.payload = [tObj]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 280,
        "wires": [
            [
                "52ddbd39.2e7094"
            ]
        ]
    },
    {
        "id": "52ddbd39.2e7094",
        "type": "ui_chart",
        "z": "1d2c3e40.a9e742",
        "name": "",
        "group": "ec7c318d.ee39d8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Today Temperature Mongo",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#a448bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 500,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "3957a955.8b76ce",
        "type": "Stackhero-MySQL-Server",
        "z": "",
        "name": "Weather DB",
        "host": "localhost",
        "port": "3306",
        "tls": false,
        "database": "Weather"
    },
    {
        "id": "ec7c318d.ee39d8",
        "type": "ui_group",
        "z": "",
        "name": "San Jose Live",
        "tab": "66a158fa.d39d9",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "5faf1d4c.fc41ec",
        "type": "mongodb3",
        "z": "",
        "uri": "mongodb://127.0.0.1:27017/sj_weather",
        "name": "Weather Mongo",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "66a158fa.d39d9",
        "type": "ui_tab",
        "z": "",
        "name": "MySQL Panel",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]