display_temperature.txt
[
    {
        "id": "1d2c3e40.a9e742",
        "type": "tab",
        "label": "Display Temperature",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b6e1d026.244f68",
        "type": "inject",
        "z": "1d2c3e40.a9e742",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "repeat": "900",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "94ccb5fd.8ab28"
            ]
        ]
    },
    {
        "id": "94ccb5fd.8ab28",
        "type": "function",
        "z": "1d2c3e40.a9e742",
        "name": "Retrieve today weather",
        "func": "let now = new Date(msg.payload)\nlet month = now.getMonth() + 1\n// Get the time in second since epoch\nlet start = new Date(now.getFullYear()+'.'+month+'.'+now.getDate()).getTime() / 1000\n\nmsg.topic = 'select * from sj_data where time >= :since order by time asc'\nmsg.payload = {since: start}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 60,
        "wires": [
            [
                "b467218f.a34768"
            ]
        ]
    },
    {
        "id": "b467218f.a34768",
        "type": "Stackhero-MySQL",
        "z": "1d2c3e40.a9e742",
        "server": "3957a955.8b76ce",
        "name": "",
        "x": 510,
        "y": 60,
        "wires": [
            [
                "f6d8e14.81f25a"
            ]
        ]
    },
    {
        "id": "f6d8e14.81f25a",
        "type": "function",
        "z": "1d2c3e40.a9e742",
        "name": "Get Temperature",
        "func": "let datas = msg.payload\nlet size = datas.length\n\nlet data = []\nlet dataPoint = []\ndatas.forEach(point => {\n    dataPoint.push({'x':point.time*1000, 'y': point.temperature})\n})\ndata.push(dataPoint)\nlet tObj = {\n    series: ['Temperature'],\n    data: data,\n    labels: ['']\n}\n\nmsg.topic = 'TemperatURE'\nmsg.payload = [tObj]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "28afe173.cd4326"
            ]
        ]
    },
    {
        "id": "28afe173.cd4326",
        "type": "ui_chart",
        "z": "1d2c3e40.a9e742",
        "name": "",
        "group": "12e56c70.551aac",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Today Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 410,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "3957a955.8b76ce",
        "type": "Stackhero-MySQL-Server",
        "z": "",
        "name": "Weather DB",
        "host": "localhost",
        "port": "3306",
        "tls": false,
        "database": "Weather"
    },
    {
        "id": "12e56c70.551aac",
        "type": "ui_group",
        "z": "",
        "name": "Today",
        "tab": "66a158fa.d39d9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "66a158fa.d39d9",
        "type": "ui_tab",
        "z": "",
        "name": "Weather Panel",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]