sj_weather.txt
[
    {
        "id": "257eaedf.ac1f12",
        "type": "tab",
        "label": "SJ Weather",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fd6d19c4.54ccd8",
        "type": "Stackhero-MySQL",
        "z": "257eaedf.ac1f12",
        "server": "3957a955.8b76ce",
        "name": "Weather DB",
        "x": 470,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "534288b5.f9c81",
        "type": "mqtt in",
        "z": "257eaedf.ac1f12",
        "name": "SJ Weather Data",
        "topic": "darksky/lau/sj",
        "qos": "0",
        "datatype": "auto",
        "broker": "4ca0fddc.010004",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "94ea1248.f69e2"
            ]
        ]
    },
    {
        "id": "21439308.2c4d64",
        "type": "function",
        "z": "257eaedf.ac1f12",
        "name": "Prepare Data",
        "func": "msg.topic = 'insert into sj_data (time, temperature, humidity, pressure, windSpeed, uvIndex, visibility) values (:time, :temperature, :humidity, :pressure, :windSpeed, :uvIndex, :visibility)' \n\nlet msgTemp = {}\nlet temperature = msg.payload.temperature\nmsgTemp.topic = 'Temperature Live'\nmsgTemp.payload = temperature\n\nlet msgMongo = {}\nmsgMongo.payload = {\n    time: msg.payload.time,\n    temperature: msg.payload.temperature,\n    humidity: msg.payload.humidity,\n    pressure: msg.payload.pressure,\n    windSpeed: msg.payload.windSpeed,\n    uvIndex: msg.payload.uvIndex,\n    visibility: msg.payload.visibility\n}\n\nreturn [msg, msgTemp, msgMongo];",
        "outputs": 3,
        "noerr": 0,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "fd6d19c4.54ccd8"
            ],
            [
                "41ea186d.8249d"
            ],
            [
                "c5b55c92.de93c"
            ]
        ]
    },
    {
        "id": "94ea1248.f69e2",
        "type": "json",
        "z": "257eaedf.ac1f12",
        "name": "Convert to Object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 40,
        "wires": [
            [
                "21439308.2c4d64"
            ]
        ]
    },
    {
        "id": "41ea186d.8249d",
        "type": "ui_chart",
        "z": "257eaedf.ac1f12",
        "name": "",
        "group": "ec7c318d.ee39d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature Live",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 490,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c5b55c92.de93c",
        "type": "mongodb3 in",
        "z": "257eaedf.ac1f12",
        "service": "_ext_",
        "configNode": "5faf1d4c.fc41ec",
        "name": "Insert sj_weather",
        "collection": "sj_weather",
        "operation": "insertOne",
        "x": 490,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "3957a955.8b76ce",
        "type": "Stackhero-MySQL-Server",
        "z": "",
        "name": "Weather DB",
        "host": "localhost",
        "port": "3306",
        "tls": false,
        "database": "Weather"
    },
    {
        "id": "4ca0fddc.010004",
        "type": "mqtt-broker",
        "z": "",
        "name": "Raspberry Pi Broker",
        "broker": "192.168.1.22",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ec7c318d.ee39d8",
        "type": "ui_group",
        "z": "",
        "name": "San Jose Live",
        "tab": "66a158fa.d39d9",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "5faf1d4c.fc41ec",
        "type": "mongodb3",
        "z": "",
        "uri": "mongodb://127.0.0.1:27017/sj_weather",
        "name": "Weather Mongo",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "66a158fa.d39d9",
        "type": "ui_tab",
        "z": "",
        "name": "MySQL Panel",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]