weather_data.txt
[
    {
        "id": "8857da2e.5e0628",
        "type": "tab",
        "label": "Weather",
        "disabled": false,
        "info": ""
    },
    {
        "id": "14f2b2b.611f74d",
        "type": "http request",
        "z": "8857da2e.5e0628",
        "name": "Dark Sky API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://api.darksky.net/forecast/a528a668ebd22961bf3142fb66261cf1/37.3354,-121.8930",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 230,
        "y": 80,
        "wires": [
            [
                "5a1fcaa0.5b3904"
            ]
        ]
    },
    {
        "id": "ab53901c.75343",
        "type": "inject",
        "z": "8857da2e.5e0628",
        "name": "Start",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "900",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 80,
        "wires": [
            [
                "14f2b2b.611f74d"
            ]
        ]
    },
    {
        "id": "ccc2cbf5.0384a8",
        "type": "rpi-gpio out",
        "z": "8857da2e.5e0628",
        "name": "85F LED",
        "pin": "15",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "90927b83.c36578",
        "type": "trigger",
        "z": "8857da2e.5e0628",
        "op1": "1",
        "op2": "1",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "Initiate Alert",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "ccc2cbf5.0384a8"
            ]
        ]
    },
    {
        "id": "855717b2.89bc78",
        "type": "inject",
        "z": "8857da2e.5e0628",
        "name": "85F LED OFF",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "ccc2cbf5.0384a8"
            ]
        ]
    },
    {
        "id": "5a1fcaa0.5b3904",
        "type": "function",
        "z": "8857da2e.5e0628",
        "name": "Weather Object",
        "func": "const weather = {\n    time: msg.payload.currently.time,\n    temperature: msg.payload.currently.temperature,\n    humidity: msg.payload.currently.humidity,\n    pressure: msg.payload.currently.pressure,\n    windSpeed: msg.payload.currently.windSpeed,\n    uvIndex: msg.payload.currently.uvIndex,\n    visibility: msg.payload.currently.visibility\n}\nmsg.payload = weather\nmsg.topic = 'darksky/lau/sj'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "7eb49b2.400b064",
                "b37dfca8.31e0b"
            ]
        ]
    },
    {
        "id": "7eb49b2.400b064",
        "type": "switch",
        "z": "8857da2e.5e0628",
        "name": "Over 85",
        "property": "payload.temperature",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "85",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "85",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "90927b83.c36578"
            ],
            [
                "83cda4ad.8a3868"
            ]
        ]
    },
    {
        "id": "753c6871.eed188",
        "type": "mqtt out",
        "z": "8857da2e.5e0628",
        "name": "Publish Data",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "fe9adbfc.5d3d48",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "b37dfca8.31e0b",
        "type": "json",
        "z": "8857da2e.5e0628",
        "name": "Convert to JSON",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "753c6871.eed188"
            ]
        ]
    },
    {
        "id": "83cda4ad.8a3868",
        "type": "trigger",
        "z": "8857da2e.5e0628",
        "op1": "0",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "Cancel Alert",
        "x": 350,
        "y": 240,
        "wires": [
            [
                "ccc2cbf5.0384a8"
            ]
        ]
    },
    {
        "id": "fe9adbfc.5d3d48",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.1.22",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]